/**
 * redesigned by nnamchi israel on 23/3/2022
 * styles.css ~ redesign including Stylet variables
**/
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	background-color: #1C1B22;
	font-family: Poppins;
}
.button-edit{
	position: absolute;
	right: 0;
	padding: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	border: 0;
	border-radius: 10px;
	background: var(--smooth);
	margin-right: 1rem;
	color: var(--white);
	font-family: Poppins;
}

.button-edit:hover{
	background: var(--white);
	color: var(--blue);
	border-color: var(--purple);
}
.mobile-button{
	display: none;
}

.main-editor{
	background: rgb(0, 0, 0, 0.91);
	display: flex;
	width: 100%;
	padding: 1rem;
	box-shadow: 0 2px 3px var(--dark);
	position: fixed;
	height: 100vh;
	justify-content: center;
	align-items: center;
	border: 7px solid #36383f;

}
.first[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    font-style: italic;
}
.first{
	background-color: #fff;
	direction: ltr;
	text-align: left;
	width: 50%;
	font-family: "Consolas,'Courier New', monospace";
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: auto;
	white-space: pre;
	caret-color: var(--royal-blue);
	box-shadow: 0px 1px 1px rgb(22, 22, 22);
	outline: none;
	padding: 0.4rem;
	height: 90vh;
	margin: 2rem;
	counter-reset: line;
}
.darkMode{
	background-color: #1C1B22;
}

.first::-webkit-scrollbar {
  width: 12px;  
}

.first::-webkit-scrollbar-track {
  background: transparent; 
}

.first::-webkit-scrollbar-thumb {
  background-color: var(--royal-blue); 
  cursor: pointer;  
  border-radius: 8px;   
}
.first{
  scrollbar-width: thin;         
  scrollbar-color: var(--royal-blue) ; 
  scrollbar-border: 3px solid var(--royal-blue);
  scrollbar-border-radius: 20px;

}
.editor div {
  display: block;
  position: relative;
  white-space: pre-wrap;
}

.editor div::before {
  content: counter(line);
  counter-increment: line;
  padding-right: 1rem;
  color: var(--red);
  opacity: 0.5;
}
.first::selection{
	background-color: var(--purple);
	color: var(--white);
}
.second{
	background-color: var(--white);
	width: 50%;
	overflow-y: auto;
	white-space: pre;
	scroll-behavior: auto;
	right: 0;
	box-shadow: 0 1px rgb(22, 22, 22);
	padding: 0 .4rem;
	height: 90vh;
}
.second::-webkit-scrollbar {
  width: 12px;  
}

.second::-webkit-scrollbar-track {
  background: transparent; 
}

.second::-webkit-scrollbar-thumb {

  background-color: var(--royal-blue);   
  border-radius: 8px;   
}
.second{
  scrollbar-width: thin;         
  scrollbar-color: var(--royal-blue) ; 
  scrollbar-border: 3px solid var(--royal-blue);
  scrollbar-border-radius: 20px;

}

@media(max-width: 810px){
	
	.main-editor{
		align-items: center;
		text-align: left;
		display: table-row;
		padding: 0;
		position: absolute;
		border: 0;
	}
	.first{
		height: 50vh;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.button-edit{
		display: none;
	}
	.mobile-button{
		display: block;
	}
	.second{
		width: 100%;
		display: table-row;
	}
	.first[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content:'';
    font-style: italic;
}
	
}

